body{
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(4,1);
    height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom,rgb(236, 70, 103),rgb(90, 98, 220), violet);
}
.container{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: silver;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
 box-shadow: 18px 18px 18px 1px black;
 border: none;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.but {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#zero{ 
    grid-column: span 2;
    width: 100%;
    border-radius: 40px;
}
button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    color: white;
    background-color: #505050;
    font-size: 20px;
    cursor: pointer; 
    

    
}
button:hover{
    background-color: #949090;
    transform: scale(1.1);
    transition: all .2s;
}

.orange{
    background-color: rgb(203, 136, 12);
}
.orange:hover {
    background-color:orange;
}